@font-face {
  font-family: "crayon";
  src: url("../font/DK\ Crayon\ Crumble.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "crayon";
  color: #e0dbd1;
}

h1 {
  font-family: "crayon";
  text-align: center;
  font-size: 80px;
  width: 100%;
}

label {
  font-size: 30px;
  margin: 0 0 0 30px;
}

input {
  border: 1px solid #e0dbd1;
  background: none;
  font-size: 30px;
  padding-left: 10px;
  width: 200px;
}

.container {
  width: 1200px;
  height: 800px;

  margin: 20px auto;

  background: url("../images/chalkboard.png");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;

  border: solid;
  border-width: 4vh 2vw;
  border-image: url("/images/marco.jpg") 20% round;
}

.config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  /* flex-wrap: wrap; */
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  width: 100%;
  height: 600px;
}

.players-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 30px 10px;
  height: 500px;
  width: 40%;
  box-sizing: border-box;
}

#player1 {
  justify-self: flex-start;
  align-self: flex-start;
}

#player2 {
  display: none;
}

.monitos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.monitos > img {
  
  /* border-image: url("/images/descarga.jpg") 20% round; */
  width: 50px;
}

.selected {
  border: 2px solid green;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-;
  align-items: center;
}

.controls-move {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.controls-move-h {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.shoot {
  align-self: flex-end;
}

.key {
  width: 75px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.key p {
  text-align: center;
  width: 100%;
}

.key p:last-child {
  height: 65px;
  width: 100%;
  font-size: 20px;
  border: 2px solid #e0dbd1;
  padding: 10px 5px;
  box-sizing: border-box;
}

.scoreboard {
  width: 30%;
  font-size: 50px;
}

.scoreboard ul,
.scoreboard li {
  list-style: none;
  font-size: 30px;
}

.name {
  display: flex;
  flex-direction: row;
}

.game {
  display: none;
}

button {
  background: none;
  border: 2px solid #e0dbd1;
  width: 100px;
  height: 60px;
  font-size: 30px;

  justify-self: center;
}
