* {
  margin: 0;
  padding: 0;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.config{
    
}

.game{
    display: none;
}

canvas{
    border: 1px solid aqua;
}

button{
    align-self: flex-start;
}

.player2{
    display: none;
}

